.container{
    width: 50vw;
}
.container .form-group{
    margin: 10px auto;
}

.container input.ng-invalid.ng-touched{
    border: 1px solid tomato;
}

.container input.ng-touched.ng-valid{
    border: 1px solid lightgreen;
}

.error{
    color: tomato;
}