<section class="container text-center mt-3 mb-5">
    <h3>Producto Seleccionado</h3>
    <div class="row mt-4" >
        <div class="col-lg-10 col-md-6 col-center text-center mb-2">
            <div class="card">
                <img [src]="product?.imgUrl" class="card-img-top">
                <h4 class="card-title">{{ product?.name }}</h4>
                <p><strong>Descripción:</strong> {{ product?.description }}</p>
                <p>Subido por: {{ user?.name }}</p>
                
                <p class="linkUserProudcts" [routerLink]="['/user/products', user?._id]"><small>Ver todos los productos de este usuario</small></p>   
            </div>
            <button class="btn btn-warning btn-lg px-3 m-2" (click)="contactUser()">¡Lo quiero!</button> 
        </div>
    </div>
</section>