body{
    margin-top:20px;
    background:#eee;
}

.profile-account-page-left .nav-link {
    padding: 18px 20px;
    border: none;
    font-weight: 600;
    color: #535665;
}
.profile-account-page-left .nav-link i {
    width: 28px;
    height: 28px;
    background: #535665;
    display: inline-block;
    text-align: center;
    line-height: 29px;
    font-size: 15px;
    border-radius: 50px;
    margin: 0 7px 0 0px;
    color: #fff;
}
.profile-account-page-left .nav-link.active {
    background: #f3f7f8;
    color: #282c3f !important;
}
.profile-account-page-left .nav-link.active i {
    background: #282c3f !important;
}
.profile-user-media img {
    width: 90px;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}


a{
    text-decoration:none;
}

a:hover{
    font-weight: bolder;
}


