
<div class="container">
    <div class="alert alert-success text-center" role="alert" *ngIf="message !== ''">{{ message }}</div>
    <h2 class="text-center my-3" *ngIf="formTitle">Sube tu producto</h2>
    <h2 class="text-center my-3" *ngIf="updateTitle">Edita tu producto</h2>
    <hr>
    <form novalidate [formGroup]="formProduct" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nombre del Producto</label>
            <input type="text" class="form-control" name="name" formControlName="name" placeholder="Introduce el nombre del producto">
            <p class="error" *ngIf="formProduct.controls.name.errors?.required && formProduct.controls.name.touched">Este campo es requerido</p>
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea class="form-control" name="description" formControlName="description" placeholder="Describe aquí tu producto"  rows="5"></textarea>
        </div>
        <div class="form-group">
            <label>Categoría</label>
            <select name="categoryId" class="form-control" formControlName="categoryId" (change)="selectCategory($event)">
                <option>Selecciona una Categoría</option>
                <option *ngFor="let category of arrCategories" [value]="category.name">{{ category.name.toUpperCase() }}</option>
            </select>
            <p class="error" *ngIf="formProduct.controls.categoryId.errors?.required && formProduct.controls.categoryId.touched">Este campo es requerido</p>
        </div>
        <div class="form-group">
            <label>Foto del producto</label>
            <input type="file" class="form-control" name="imgUrl" formControlName="imgUrl" (change)="getImg($event)">
            <p class="error" *ngIf="formProduct.controls.imgUrl.errors?.required && formProduct.controls.imgUrl.touched">Este campo es requerido</p>
        </div>
        
        
        <input [disabled]="!formProduct.valid" type="submit" value="Enviar" class="btn btn-warning col-12">
    </form>
</div>